.viewer-section {
  background-color: #86a787;
}

.viewer-section h2 {
  margin-top: 0;
}

.viewer-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 300px;
}

.viewer-table th,
.viewer-table td {
  border: 1px solid #444;
  padding: 6px;
  text-align: center;
  color: black;
  background-color: #86a787;
  font-size: 10px;
  white-space: nowrap;
}