.grapple-viewer-section {
  background-color: #86a787;
}

.grapple-viewer-section h2 {
  margin-top: 0;
}

.grapple-viewer-table {
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 100%;
}

.grapple-viewer-table th,
.grapple-viewer-table td {
  border: 1px solid #444;
  padding: 2px;
  text-align: center;
  color: black;
  background-color: #86a787;
  font-size: 10px;
  white-space: nowrap;
}

.grapple-viewer-table th {
  background-color: #0d7377;
  font-weight: bold;
}

.viewer-grapple-types-table td:first-child {
  width: 100px;
}

.viewer-grapple-types-table td:nth-child(2),
.viewer-grapple-types-table td:nth-child(3),
.viewer-grapple-types-table td:nth-child(4) {
  width: 35px;
}
