.shooting-types-table {
  width: 900px;
}

.shooting-types-table th:not(.shooting-name-column) {
  width: 30px;
}

.shooting-name-column {
  width: 120px;
}

.hit-last-row {
  border-bottom: 3px double #444;
}

.times-circle {
  border-radius: 50%;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  display: block;
  margin: 0px auto 0px auto;
  color: black;
  font-size: 8px;
  text-align: center;
  line-height: 10px;
}