.thrusters-viewer-section {
  background-color: #86a787;
}

.thrusters-viewer-section h2 {
  margin-top: 0;
}

.thrusters-viewer-table {
  border-collapse: collapse;
  table-layout: fixed;
}

.thrusters-viewer-table th,
.thrusters-viewer-table td {
  border: 1px solid #444;
  padding: 2px;
  text-align: center;
  color: black;
  background-color: #86a787;
  font-size: 10px;
  white-space: nowrap;
}

.thrusters-viewer-table th {
  background-color: #0d7377;
  font-weight: bold;
}

.viewer-thrusters-table td:first-child {
  width: 100px;
}
