.array-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.array-form-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.array-form-item input {
  width: 80px;
}

.array-form-add-button {
  margin-top: 10px;
}